.container{
    width: 90%;
    margin: 15vh 5%;
    display: flex;
    justify-content: space-around;
}
img{
    width: 380px;
}
.productInfo{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
h1,p,button{
    margin-top: 40px;
    max-width: 500px;
}
button{
    align-self: flex-start;
    border: none;
    background-color: #55C3E4;
    padding: 10px 25px;
    color: white;
}

@media (max-width: 700px){
    .container{
        flex-direction: column;
    }
    img{
        width: 300px;
    }
}