section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 220px 1fr;
      grid-template-columns: 220px 1fr;
  font-family: 'Comfortaa', cursive;
}

section .categories {
  height: 150vh;
  padding: 20px;
  border-right: 1px solid rgba(156, 156, 156, 0.479);
  -webkit-box-shadow: 0px 0.1px 8px 0px rgba(153, 153, 153, 0.5);
          box-shadow: 0px 0.1px 8px 0px rgba(153, 153, 153, 0.5);
}

section .categories ul li {
  padding: 8px 0;
}

section .categories ul li button {
  border: none;
  background-color: transparent;
}

section .categories ul li button.active {
  color: blue;
}

section .showSection {
  background-color: #e5effa83;
}

section .showSection div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: .8%;
}

section .showSection .header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.2% 3%;
}

section .showSection .header span {
  font-size: x-large;
}

section .showSection .header button {
  border: none;
  background-color: #FDD228;
  color: white;
  padding: 5px 45px;
  border-radius: 3px;
}

section .showSection .product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px 2.5em;
}

section .showSection .product .card {
  position: relative;
  padding: 0;
  margin: 5px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid rgba(182, 182, 182, 0.4);
  -webkit-filter: drop-shadow(1px 0 5px rgba(190, 190, 190, 0.4));
          filter: drop-shadow(1px 0 5px rgba(190, 190, 190, 0.4));
}

section .showSection .product .card img {
  background-color: white;
  width: 15em;
  height: 160px;
  color: #b4b4b4;
  text-align: center;
}

section .showSection .product .card button {
  position: absolute;
  top: 8%;
  right: 8%;
  border: none;
  background-color: #55C3E4;
  color: white;
  padding: 5px 18px;
  border-radius: 5px;
}

section .showSection .product .card .cardInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f2f9fa75;
  border-top: 1px solid rgba(182, 182, 182, 0.4);
}

section .showSection .product .card .cardInfo h6, section .showSection .product .card .cardInfo p {
  text-align: center;
  padding-top: 10px;
  letter-spacing: .1rem;
}

section .showSection .product .card .cardInfo p {
  color: gray;
  padding-bottom: 10px;
}

@media (max-width: 700px) {
  section {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  section .categories {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: fixed;
    background-color: #65c4e0d0;
    -webkit-transform: translate(-85%, 80%);
            transform: translate(-85%, 80%);
    border-radius: 10px;
  }
  section .categories.show {
    -webkit-transform: translate(-1%, 80%);
            transform: translate(-1%, 80%);
    -webkit-transition: all 1.5s;
    transition: all 1.5s;
    z-index: 1;
  }
  .showSection .header {
    margin-top: 10px;
  }
}
/*# sourceMappingURL=products.component.css.map */